.flex-alumni {
    display: flex;
    justify-content: center;
    gap: 46px;
    /* margin-left: 100px; */
    flex-wrap: wrap;
    margin: 40px;

    margin-top: -8px;
    /* margin-left: 100px; */
}
.alumni-container {
margin-top: 30px;

}
.alumni-container-text{
    font-family: 'RalewaySemi';
    padding-left: 20px;
    padding-top: 50px;
}
.profile-alumni{
    /* background-color:gray; */
    /* background-color: #3674B5; */
    /* background-color: #687FE5; */
    /* background-color: #FEEBF6; */
    /* background-color: #4DA8DA; */
    background-color: #09122C;
    height: 700%;
    width: 400px;
    border-radius: 20px;
    /* padding: 2.5rem; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    /* margin-left: 20px; */
    padding: 10px;
    color: white;
box-shadow: 0 0 10px rgba(0, 123, 255, 0.8);
transition: box-shadow 0.3s ease-in-out;
}
.profile-alumni:hover {
    box-shadow: 0 0 20px rgba(0, 123, 255, 1);
}
.profile-alumni .under-name {
    font-family: "RalewayRegular";
    font-size: 13px;
}
.profile-alumni img {
    margin-top: 5px;
    height: 120px;
    width: 110px;
    margin-left: 20px;
    /* position: fixed; */
    border-radius: 50px;
}
.profile-text-container{
    /* background-color: wheat; */
border: none;
width: 200px;
/* display: flex; */
/* flex-wrap: wrap; */
justify-content: space-around;
align-items: center;
color: white;
}
.profile-text{
    /* color: #FDFFB8; */
    /* color: #FF6500; */
    /* color: #471396; */
    /* color: white; */
    font-family: 'RalewayIt';
    overflow-y: auto;
    padding: 10px;
    height: 200px;
    /* overflow: hidden; */
}
.profile-text::-webkit-scrollbar {
    display: none;
}